*:focus {
  outline: none; }

html, body, .app {
  height: 100%;
  max-height: 100%;
  min-height: 100%; }

body {
  background: #ffffff;
  color: rgba(0, 0, 0, 0.87);
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.app {
  display: flex;
  flex-direction: column; }

button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: background 0.3s, color 0.3s;
  user-select: none; }
  
input[type="button"]{
   outline:none;
}

.gras{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 0%;
	padding:0px 0px 0px 10px;
}

.normal{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10px;
    font-weight: normal;
    position: relative; 
	padding:0px 20px 0px 0px;
    text-align:right;
	line-height: 0%;
}

.demar{
      display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 0;
 } 

.energie{
      display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 56px;
    font-weight: bold;
    line-height: 0;
 }

.toolbar {
  align-items: center;
  display: flex;
  flex-shrink: 0; }
  .toolbar .name {
    flex-grow: 1;
    padding: 0 8px;
    user-select: none; }
  .toolbar .buttons {
    flex-shrink: 0; }
    

.icon{
	display: flex;
	justify-content: center;
}

canvas.compteur {
	padding: 0;
    margin: 0;
    display: block;
    width: 300px;
	height: 300px;
	-moz-user-select: none;
  -webkit-user-select: none;
  max-width: 100% !important;
  max-height: 100% !important;
}

.terminal {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 1px 0;
  flex-grow: 1;
  overflow: auto;
  padding: 4px 0; }
  .terminal div {
    color: #9E9E9E;
    line-height: 1;
    padding: 4px 8px;
    word-break: break-word; }
    .terminal div.out {
      color: #F44336; }
    .terminal div.in {
      color: #2196F3; }

.send-form {
  display: flex;
  flex-shrink: 0; }
  .send-form input {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
    font: normal 16px/1.5 'Roboto Mono', monospace;
    padding: 0 8px; }
    .send-form input::placeholder {
      color: rgba(0, 0, 0, 0.54); }
  .send-form button {
    flex-shrink: 0; }
